{
    "connection_uri": "postgresql+psycopg2://postgres:redacted@test/postgres",
    "db_schema": "testing",
    "root_file_path": "./test/",
    "local_pipeline_import_path": {
        "test custom pipeline": "./test/local_classes/"
    }
}